.container {
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow-y: hidden;
    flex-direction: column;
    background-color: black;
}

.navContainer {
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100vw;
    position: fixed;
    background-color: rgba(6, 6, 6, 0.666);
    backdrop-filter: blur(2px);
}

.navContent {
    color: white;
    text-align: center;
    font-size: 16px;
    width: min(82%, 70rem);
    padding-block: 15px;
    margin-inline: auto;
}

.link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.link:hover,
.logo:hover {
    opacity: .7;
    cursor: pointer;
}

.content {
    height: 95vh;
    flex-direction: column;
}

.avatarBorder {
    width: 190px;
    height: 190px;
    border-radius: 300px;
}

.avatar {
    height: 180px;
    width: 180px;
    border-radius: 300px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block-start: 10px;
    background-color: rgb(14, 14, 14);
}

.footerContent {
    margin: auto;
    width: min(80%, 70rem);
    display: flex;
    justify-content: space-between;
}

.status {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status>span {
    font-size: 12px;
    margin-right: 10px;
}

/* bot status */

.botStatus {
    height: 8px;
    width: 8px;
    border-radius: 100px;
}

.statusOnline {
    box-shadow: 0px 0px 7px rgb(0, 255, 64);
    background-color: rgb(0, 255, 64);
}

.statusOffline {
    box-shadow: 0px 0px 7px rgb(255, 0, 43);
    background-color: rgb(255, 0, 43);
}

.smallTitle {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(110, 110, 110);
}

.footerLinks {
    display: flex;
    flex-direction: row;
}

.socialIconsContainer {
    gap: 8px;
    margin-top: 10px;
    width: 300px;
}

.margin {
    margin: auto;
    width: min(80%, 70rem);
}

.createdBy {
    width: 100%;
    color: rgb(116, 116, 116);
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(15, 15, 15);
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 20px;
}

.social {
    margin-right: 35px;
    border-left: 1px solid rgb(24, 24, 24);
    padding-left: 10px;
    font-size: 14px;
    color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
}

.social>a {
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}


.smallTitle2 {
    color: "white";
    font-size: 14px;
}